{% from 'dilutions/form.html' import dilutions_add_form %}


{% macro pane_details(dilution, form) %}

  <div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-start align-items-start mb-2">
            <div class="flex-grow-1">
                <h5 class="mb-1">{{ dilution.application | capitalize }}</h5>
                <p class="text-muted">{{ dilution.timestamp | format_datetime }} by {{ dilution.user.username }}</p>
            </div>
            <span class="flex-shrink-0">
                {% if dilution.user_id == current_user.id %}
                    <a class="text-primary ml-2 mr-2"
                       data-bs-toggle="modal"
                       data-bs-target="#modal-edit-dilution-{{ dilution.id }}">
                          <i class="fa-solid fa-pen"></i>
                      </a>
                    <a class="text-danger"
                       onclick="delete_entity('{{ url_for("antibodies.dilutions.delete", antibody_id=dilution.antibody_id, id_=dilution.id) }}')">
                          <i class="fa-solid fa-trash"></i>
                      </a>
                {% endif %}
            </span>
        </div>

        <h6 class="mb-2 text-info">{{ dilution.dilution }}</h6>
        <p>{{ dilution.reference }}</p>
        {% if dilution.timestamp_edited %}
            <p class="text-muted mb-0">
                <em>(This dilution was updated on {{ dilution.timestamp_edited | format_datetime }})</em>
            </p>
        {% endif %}
    </div>
  </div>

  {{ dilutions_add_form(form(None, obj=dilution), "antibodies.dilutions.edit", "PUT", dilution.id, dilution.antibody_id) }}

{% endmacro %}


{% macro dilutions_pane(status, pane_id, antibody, form) %}
  <div class="tab-pane container {{ status }}" id="{{ pane_id }}">

  <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="flex-grow-1 mb-0">Dilutions</h2>
      <span class="flex-shrink-0">
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#modal-edit-dilution--1">
          <i class="fa-solid fa-plus"></i>
        </button>
      </span>
  </div>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#immunostaining">Immunostainings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#western-blot">Western blots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#immunoprecipitation">Immunoprecipitations</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="immunostaining">
          {% for dilution in antibody.dilutions %}
            {% if dilution.application == "immunostaining" %}
              {{ pane_details(dilution, form) }}
            {% endif %}
          {% endfor %}
      </div>
      <div class="tab-pane container fade" id="western-blot">
          {% for dilution in antibody.dilutions %}
            {% if dilution.application == "western blot" %}
              {{ pane_details(dilution, form) }}
            {% endif %}
          {% endfor %}
      </div>
      <div class="tab-pane container fade" id="immunoprecipitation">
          {% for dilution in antibody.dilutions %}
            {% if dilution.application == "immunoprecipitation" %}
              {{ pane_details(dilution, form) }}
            {% endif %}
          {% endfor %}
      </div>
    </div>

  <br>

  {{ dilutions_add_form(form(), "antibodies.dilutions.add", "POST", -1, antibody.id) }}

  </div>
{% endmacro %}
