<!-- EXTENSION DECLARATION -->
{% extends "base_site_entities.html" %}

{% from "fly_stocks/form.html" import flystock_add_form %}
{% from "fly_stocks/table.html" import table %}


{% block toolbar %}

  <div class="d-flex flex-row justify-content-center">
    <div class="p-2">
       <div class="btn-group btn-group-sm">
         <button type="button" class="btn btn-success disabled"><i class="fa-solid fa-upload"></i></button>
         <button type="button"
                 class="btn btn-success"
                 data-toggle="modal"
                 data-target="#modal-edit-flystock--1">
           FORM
         </button>
       </div>
    </div>
    <div class="p-2">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-warning disabled"><i class="fa-solid fa-download"></i></button>
        <a type="button" class="btn btn-warning" href="{{ url_for(".export", format="csv", **args) }}">CSV</a>
        <a type="button" class="btn btn-warning" href="{{ url_for(".export", format="json", **args) }}">JSON</a>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascripts_end %}

  {{ super() }}

  {{ flystock_add_form(add_form, ".add", "POST", -1) }}

{% endblock %}