{% from "comments/pane.html" import comment_pane with context %}
{% from "files/pane.html" import files_pane with context %}
{% from 'requests/pane.html' import request_pane with context %}
{% from 'batches/pane.html' import batch_pane with context %}
{% from "dilutions/pane.html" import dilutions_pane with context %}
{% from "antibodies/form.html" import antibody_add_form %}
{% from "dilutions/form.html" import dilutions_add_form %}
{% from "files/form.html" import file_upload_form %}


<h1 class="mt-3 mb-4">{{ antibody.label }}</h1>

<div class="btn-group btn-group-sm bg-white rounded border w-100" role="group">

    <ul class="nav nav-pills m-0" role="tablist">

        <li class="nav-item" role="presentation">
            <button class="nav-link active"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-info"
                    type="button"
                    role="tab"
                    aria-selected="true">
                Details
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-dilutions"
                    type="button"
                    role="tab"
                    aria-selected="false">
                Dilutions
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-batches"
                    type="button"
                    role="tab"
                    aria-selected="false">
                Batches
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-files"
                    type="button"
                    role="tab"
                    aria-selected="false">
                Files
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-comments"
                    type="button"
                    role="tab"
                    aria-selected="false">
                Comments
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-requests"
                    type="button"
                    role="tab"
                    aria-selected="false">
                Requests
            </button>
        </li>

    </ul>

</div>

<div class="tab-content bg-white rounded border my-3">

    <div class="tab-pane container active" id="tab-info">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="flex-grow-1 mb-0">Details</h2>
            <span class="flex-shrink-0">
              <a class="text-primary mr-2"
                 data-bs-toggle="modal"
                 data-bs-target="#modal-edit-antibody-{{ antibody.id }}">
                <i class="fa-solid fa-pen"></i>
              </a>
              <a class="text-danger"
                 onclick="delete_entity('{{ url_for(".delete", id_=antibody.id) }}')">
              <i class="fa-solid fa-trash"></i>
              </a>
          </span>
        </div>

        <table class="table table-details">
            <tbody>
            <tr>
                <td>Database ID</td>
                <td>{{ antibody.id }}</td>
            </tr>
            <tr>
                <td>Label</td>
                <td>{{ antibody.label }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ antibody.location }}</td>
            </tr>
            <tr>
                <td>Clone</td>
                <td>{{ antibody.clone }}</td>
            </tr>
            <tr>
                <td>Host</td>
                <td>{{ antibody.host }}</td>
            </tr>
            <tr>
                <td>Antigen</td>
                <td>{{ antibody.antigen }}</td>
            </tr>
            <tr>
                <td>Clonality</td>
                <td>{{ antibody.specification }}</td>
            </tr>
            <tr>
                <td>Conjugate</td>
                <td>{{ antibody.conjugate }}</td>
            </tr>
            <tr>
                <td>Source</td>
                <td>{{ antibody.source }}</td>
            </tr>
            <tr>
                <td>Storage</td>
                <td>{{ antibody.storage_temp }}°C</td>
            </tr>
            </tbody>
        </table>

    </div>

    {{ dilutions_pane(
    status='fade',
    pane_id='tab-dilutions',
    antibody=antibody,
    form=dilution_form
  ) }}

    {{ batch_pane(
    status='fade',
    pane_id='tab-batches',
    consumable=antibody,
    form=batch_form
  ) }}

    {{ files_pane(
    status='fade',
    pane_id='tab-files',
    entity=antibody,
    form=file_form
  ) }}

    {{ comment_pane(
    status='fade',
    pane_id='tab-comments',
    entity=antibody,
    form=comment_form
  ) }}

    {{ request_pane(
    status='fade',
    pane_id='tab-requests',
    entity=antibody,
    form=request_form
  ) }}

</div>

{{ antibody_add_form(form, ".edit", "PUT", antibody.id) }}