{% import 'macros/forms.html' as forms %}

{% macro antibody_add_form(form, endpoint, method, id) %}

  {% if id == -1 %}
    {% set action = url_for(endpoint) %}
  {% else %}
    {% set action = url_for(endpoint, id_=id) %}
  {% endif %}

  <div id="modal-edit-antibody-{{ id }}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Antibody</h4>
          <button type="button" class="close" data-dismiss="modal">&times;
          </button>
        </div>
        <div class="modal-body" id="modal-edit-antibody-{{ id }}-body">
          <div>
            <div class="row">
              <div class="col-12">

                <form action="{{ action }}"
                      method="post"
                      id="form-edit-antibody-{{ id }}">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-12">
                      {{ forms.field(form.label, '<span class="fas fa-tag"></span></span>') }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      {{ forms.field(form.clone, 'Clone') }}
                    </div>
                    <div class="col-4">
                      {{ forms.field(form.host, 'Host') }}
                    </div>
                    <div class="col-4">
                      {{ forms.field(form.antigen, 'Antigen') }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      {{ forms.field(form.specification, 'Clonality') }}
                    </div>
                    <div class="col-6">
                      {{ forms.field(form.storage_temp, '<span class="fas fa-snowflake"></span></span>') }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      {{ forms.field(form.source, 'Source') }}
                    </div>
                    <div class="col-6">
                      {{ forms.field(form.conjugate, '<span class="fas fa-sun"></span></span>') }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.submit() }}
                  </div>
                </form>

                <div id="form-edit-antibody-{{ id }}-messages">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {{ forms.script_send_form(
      form,
      'form-edit-antibody-' + id|string,
      method,
      'form-edit-antibody-' + id|string + '-messages'
      ) }}

{% endmacro %}