{% extends "base-site-entities.html" %}

{% from "oligonucleotides/form.html" import primer_add_form %}
{% from "oligonucleotides/table.html" import table %}
{% from 'imports/macros/form.html' import upload_file_form %}


{% block toolbar %}

  <div class="d-flex flex-row justify-content-center">
    <div class="p-2">
       <div class="btn-group btn-group-sm">
         <button type="button" class="btn btn-success disabled"><i class="fa-solid fa-upload"></i></button>
         <button type="button"
                 class="btn btn-success"
                 data-toggle="modal"
                 data-target="#modal-edit-primer--1">
           FORM
         </button>
         <button type="button"
                 class="btn btn-success"
                 data-toggle="modal"
                 data-target="#modal-import-file">
           FILE
         </button>
       </div>
    </div>
    <div class="p-2">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-warning disabled"><i class="fa-solid fa-download"></i></button>
        <a type="button" class="btn btn-warning" href="{{ url_for(".export", format_="csv", **args) }}">CSV</a>
        <a type="button" class="btn btn-warning" href="{{ url_for(".export", format_="json", **args) }}">JSON</a>
        <a type="button" class="btn btn-warning" href="{{ url_for(".export", format_="fasta", **args) }}">FASTA</a>
      </div>
    </div>
  </div>

  {{ upload_file_form(import_file_form, url_for("imports.upload", type_="oligonucleotide")) }}

{% endblock %}


{% block scripts %}

  {{ super() }}

  {{ primer_add_form(add_form, ".add", "POST", -1) }}

{% endblock %}