{% from 'batches/form.html' import batch_add_form %}


<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tab-info">Info</a>
  </li>

</ul>

<div class="tab-content">

  <div class="tab-pane container active" id="tab-info">

    <div class="d-flex justify-content-between align-items-center mb-3">
          <h2 class="flex-grow-1 mb-0">{{ batch.consumable.label }}</h2>
          <span class="flex-shrink-0">
              <a class="text-primary mr-2"
                 data-toggle="modal"
                 data-target="#modal-edit-batch-{{ batch.id }}">
                <i class="fa-solid fa-pen"></i>
              </a>
              {% if (not batch.in_use) and (batch.emptied_date is none) %}
                  <a class="text-info mr-2"
                     onclick="batch_action('{{ url_for("batches.in_use", id_=batch.id) }}')">
                    <i class="fa-solid fa-box-open"></i>
                  </a>
                  {% endif %}
                  {% if batch.in_use and batch.emptied_date is none %}
                  <a class="text-danger mr-2"
                     onclick="batch_action('{{ url_for("batches.emptied", id_=batch.id) }}')">
                    <i class="fa-solid fa-battery-empty"></i>
                  </a>
                  {% endif %}
              <a class="text-danger"
                 onclick="delete_entity('{{ url_for(".delete", id_=batch.id) }}')">
              <i class="fa-solid fa-trash"></i>
              </a>
          </span>
      </div>

      <h3>Details</h3>

  <table class="table table-details">
    <tbody>
      <tr>
        <td>Database ID</td>
        <td>{{ batch.id }}</td>
      </tr>
      <tr>
        <td>Consumable ID</td>
        <td>{{ batch.consumable_id }}</td>
      </tr>
      <tr>
        <td>Supplier</td>
        <td>{{ batch.supplier }}</td>
      </tr>
      <tr>
        <td>Article number</td>
        <td>{{ batch.article_number }}</td>
      </tr>
      <tr>
        <td>Lot</td>
        <td>{{ batch.lot }}</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>{{ batch.amount }}</td>
      </tr>
      <tr>
        <td>Order date</td>
        <td>{{ batch.order_date | format_date }}</td>
      </tr>
      <tr>
        <td>Expiration date</td>
        <td>{{ batch.expiration_date | format_date }}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{ batch.price }}</td>
      </tr>
      <tr>
        <td>Storage place</td>
        <td>{{ batch.storage_place }}</td>
      </tr>
      <tr>
        <td>Currently in use</td>
        <td>{% if batch.in_use %}Yes{% else %}No{% endif %}
        </td>
      </tr>
      <tr>
        <td>Opened on</td>
        <td>{{ batch.opened_date | format_date }}</td>
      </tr>
      <tr>
        <td>Emptied on</td>
        <td>{{ batch.emptied_date | format_date }}</td>
      </tr>
    </tbody>
  </table>

  </div>

</div>

{{ batch_add_form(form, ".edit", "PUT", batch.id) }}